// --- 各種部品

// ベース背景
@mixin back($height: 85vh, $b-color: $c-black, $f-color: $c-white) {
  @if $height == "footer" {
    height: auto;
    padding: 6rem 6rem 0;
  }
  @else if $height == "hamburger-menu" {
    height: auto;
    padding-top: 6rem;
  }
  @else {
    height: $height;
    padding: 6rem;
  }
  background-color: $b-color;
  color: $f-color;
  font-size: 4rem;
  @include media(sp) {
    @if $height == "footer" {
      height: auto;
      padding: 4rem 3rem 0;
    }
    @else if $height == "hamburger-menu" {
      height: auto;
      padding: 10rem 0 0;
    }
    @else {
      height: auto;
      padding: 4rem 3rem;
    }
    font-size: 3rem;
  }
}

// 見出し
@mixin heading($color: $c-main) {
  %heading {
    content: "";
    flex: 1;
    height: 1px;
    background-color: gray;
  }
  h3 {
    display: flex;
    align-items: center;
    position: relative;
    font-size: clamp(2rem, 4.8vw, 4rem);
    width: 70%;
    opacity: 1;
    margin: 0 auto 3rem auto;
    @include media(sp) {
      width: 100%;
      margin: 0 0 3rem 0;
    }
    > span {
      &:nth-of-type(1) {
        color: $color;
        font-size: clamp(3rem, 6.4vw, 5rem);
      }
      &:nth-of-type(2) {
        align-self: flex-end;
      }
    }
    &::before, &::after {
      @extend %heading;
    }
    &::before {
      margin-right: clamp(2rem, 4.0vw, 3rem);
    }
    &::after {
      margin-left: clamp(2rem, 4.0vw, 3rem);
    }
  }
}

// 正方形
@mixin square() {
  position: absolute;
  width: 3rem;
  height: 3rem;
  @include media(sp) {
    width: 2rem;
    height: 2rem;
  }
}

// スクロールダウン
@mixin scroll-indicator() {
  // 配置
  #scroll-indicator {
    position: absolute;
    left: 5%;
    top: 60vh;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    z-index: 10;
    // バー
    .scroll-bar {
      width: 2px;
      height: 40vh;
      background: $c-black;
      animation: scroll-down 3s infinite;
    }
    // アニメーション
    @keyframes scroll-down {
      0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
      }
      50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
      }
      51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
      }
      100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
      }
    }
    // テキスト
    .scroll-text {
      writing-mode: vertical-rl;
      font-size: 1rem;
      letter-spacing: 0.2em;
      color: $c-black;
    }
  }
}