// --- 各種部品

// ベース背景
@mixin back($height: 85vh, $b-color: $c-black, $f-color: $c-white) {
  @if $height == "footer" {
    height: auto;
    padding: 6rem 6rem 0;
  }
  @else if $height == "hamburger-menu" {
    height: auto;
    padding-top: 6rem;
  }
  @else {
    height: $height;
    padding: 6rem;
  }
  background-color: $b-color;
  color: $f-color;
  font-size: 4rem;
  @include media(sp) {
    @if $height == "footer" {
      height: auto;
      padding: 4rem 4rem 0;
    }
    @else if $height == "hamburger-menu" {
      height: auto;
      padding-top: 6rem 4rem 0;
    }
    @else {
      height: auto;
      padding: 4rem;
    }
    font-size: 3rem;
  }
}

// 見出し
@mixin heading($color: $c-main) {
  %heading {
    content: "";
    flex: 1;
    height: 1px;
    background-color: gray;
  }
  h3 {
    display: flex;
    align-items: center;
    position: relative;
    font-size: clamp(2rem, 4.8vw, 4rem);
    width: minmax(50%, 100%);
    margin: 0 auto 4rem auto;
    > span {
      &:nth-of-type(1) {
        color: $color;
        font-size: clamp(3rem, 6.4vw, 5rem);
      }
      &:nth-of-type(2) {
        align-self: flex-end;
      }
    }
    &::before, &::after {
      @extend %heading;
    }
    &::before {
      margin-right: clamp(2rem, 4.0vw, 3rem);
    }
    &::after {
      margin-left: clamp(2rem, 4.0vw, 3rem);
    }
  }
}

// 正方形
@mixin square() {
  position: absolute;
  width: 3rem;
  height: 3rem;
  @include media(sp) {
    width: 2rem;
    height: 2rem;
  }
}