/* --- ハンバーガーメニュー --- */
#hamburger-menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 0;
  display: none;
  transition: 0.3s all ease;
  // ベース背景
  @include back("hamburger-menu", $c-white, $c-black);
  // 見出し
  @include heading($c-main);

  section {
    // 画像用
    position: relative;
    height: 100%;

    // メニュー
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 50% 50%;
      padding-bottom: 5rem;
      font-size: 2.5rem;
    }
    @include media(sp) {
      ul {
        grid-template-columns: 100%;
      }
    }
    // 画像
    object {
      position: absolute;
      left: calc(50% - clamp(20rem, 48vw, 40rem));
      bottom: -6rem;
    }
    @include media(sp) {
      object {
        left: calc(50% - clamp(15rem, 28vw, 25rem));
        bottom: -6rem;
      }
    }
  }

  .footer {
    background-color: $c-black;
    width: 100%;
    height: 4rem;
    margin-top: 4rem;
  }
}