/* --- メインビジュアル --- */
#main-visual {
  height: 100vh;
  padding-top: 10rem;
  background-color: $c-back;
  @include media(sp) {
    height: auto;
    padding-bottom: 2rem;
  }
  img {
    width: 85%;
    height: auto;
    max-height: 85%;
  }
}