/* --- メインビジュアル --- */
#main-visual {
  height: 100vh;
  padding: 10rem 0 6rem;
  background-color: $c-back;
  @include media(sp) {
    height: auto;
    padding-bottom: 2rem;
  }
  img {
    height: 80%;
    width: 80%;
    object-fit: contain;
  }
}