/* --- プロフィール + プロフィールページ --- */
#profile {
  // ベース背景
  @include back("85vh", $c-white, $c-black);

  // 見出し
  @include heading($c-main);

  // 正方形 + 画像
  position: relative;
  .square-1 {
    @include square();
    background-color: $c-black;
    left: calc(50% - clamp(10rem, 32vw, 30rem));
    bottom: 5rem;
  }
  .square-2 {
    @include square();
    background-color: $c-black;
    right: calc(50% - clamp(10rem, 28vw, 40rem));
    bottom: 14rem;
    @include media(tb) {
      bottom: 22rem;
    }
  }
  .square-3 {
    @include square();
    background-color: $c-main;
    right: calc(50% - clamp(5rem, 30vw, 30rem));
    bottom: 4rem;
  }
  object {
    position: absolute;
    left: calc(50% - clamp(20rem, 48vw, 40rem));
    bottom: -0.5rem;
  }
  @include media(sp) {
    .square-1 {
      bottom: 16rem;
    }
    .square-3 {
      bottom: 2rem;
    }
    object {
      display: none;
    }
  }

  // プロフィール
  .profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include media(sp) {
      flex-direction: column;
    }
    img {
      width: 70%;
      transition: transform 1s;
      transform-style: preserve-3d;
      &:hover {
        transform: rotateY(360deg);
        filter: contrast(200%);
        transition: 0.3s all;
      }
    }
    .text > p {
      &:nth-of-type(1) {
        font-size: clamp(3rem, 5.6vw, 4em);
        span:nth-of-type(1) {
          margin-right: clamp(0.5rem, 2.0vw, 1rem);
        }
      }
      &:nth-of-type(2) {
        font-size: 2rem;
        span:nth-of-type(1) {
          margin-right: clamp(1rem, 2.0vw, 1.5em);
        }
      }
      &:nth-of-type(3) {
        font-size: clamp(1rem, 2.0vw, 1.5rem);
        font-family: "Kiwi Maru", serif;
        margin-bottom: 0;
        &::before {
          content: "← ";
        }
        @include media(sp) {
          &::before {
            content: "↑ ";
          }
          &::after {
            content: " ↑";
          }
        }
      }
      &:nth-of-type(4) {
        font-size: clamp(1rem, 2.0vw, 1.5rem);
        font-family: "Kiwi Maru", serif;
      }
    }
  }
  // サブページのトップスペース
  .sub-profile {
    padding-top: 4rem;
  }
  // 自己紹介
  .introduction {
    max-width: 50%;
    font-size: clamp(1rem, 2.0vw, 1.5rem);
    font-family: "Kiwi Maru", serif;
  }
  @include media(sp) {
    .introduction {
      max-width: 60%;
    }
  }
}