// --- ブレイクポイント
$bp: (
  sp: "max-width: 767px",
  tb: "max-width: 899px",
  pc: "mix-width: 900px",
);
@mixin media($value) {
  @media (#{map-get($bp, $value)}) {
    @content;
  }
}

// --- 色関係の設定 
$c-main: #883038;
$c-sub: #ffb600;
$c-white: white;
$c-black: #1f1f1f;
$c-back: #bcbcbc;

/* --- 共通スタイル --- */
* {
  box-sizing: border-box;
}
body {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
img {
  max-width: 100%;
}
section {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
a {
  color: $c-black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  margin: 0;
  padding: 0
}

// --- それぞれのSCSSの読み込み

// 部品
@import "components";

// ハンバーガーメニュー
@import "hamburger-menu";

// ヘッダー
@import "header";

// メインビジュアル
@import "main-visual";

// ディスクリプション
@import "description";

// プロフィール
@import "profile";

// スキル
@import "skill";

// ワーク
@import "work";

// フッター
@import "footer";

// アートギャラリー
@import "art";