@charset "UTF-8";
/* --- 共通スタイル --- */
* {
  box-sizing: border-box;
}

body {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
}

section {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#hamburger-menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  transition: 0.3s all ease;
  height: auto;
  padding-top: 6rem;
  background-color: white;
  color: #1f1f1f;
  font-size: 4rem;
  padding-top: 10rem;
}
@media (max-width: 767px) {
  #hamburger-menu {
    height: auto;
    padding: 6rem 3rem 0;
    font-size: 3rem;
  }
}
#hamburger-menu h3::before, #hamburger-menu h3::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: gray;
}
#hamburger-menu h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: clamp(2rem, 4.8vw, 4rem);
  width: minmax(50%, 100%);
  margin: 0 auto 4rem auto;
}
#hamburger-menu h3 > span:nth-of-type(1) {
  color: #883038;
  font-size: clamp(3rem, 6.4vw, 5rem);
}
#hamburger-menu h3 > span:nth-of-type(2) {
  align-self: flex-end;
}
#hamburger-menu h3::before {
  margin-right: clamp(2rem, 4vw, 3rem);
}
#hamburger-menu h3::after {
  margin-left: clamp(2rem, 4vw, 3rem);
}
#hamburger-menu section {
  position: relative;
  height: 100%;
}
#hamburger-menu section ul {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 5rem;
}
@media (max-width: 767px) {
  #hamburger-menu section ul {
    grid-template-columns: 100%;
  }
}
#hamburger-menu section object {
  position: absolute;
  left: calc(50% - clamp(20rem, 48vw, 40rem));
  bottom: 1rem;
}
@media (max-width: 767px) {
  #hamburger-menu section object {
    left: calc(50% - clamp(15rem, 28vw, 25rem));
    bottom: -6rem;
  }
}
#hamburger-menu .footer {
  background-color: #1f1f1f;
  height: 4rem;
  margin-top: 4rem;
}

/* --- ヘッダー --- */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: clamp(0.5rem, 1.2vw, 1rem) 1rem;
  background-color: white;
  /* --- ハンバーガーボタン --- */
}
#header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#header .logo div {
  color: #883038;
}
#header .logo div:nth-of-type(1) {
  font-size: clamp(2.5rem, 4.2vw, 3rem);
  margin-right: 1rem;
}
#header .logo div:nth-of-type(2) {
  font-size: 2rem;
  padding-top: 0.7rem;
}
@media (max-width: 767px) {
  #header .logo div:nth-of-type(2) {
    font-size: 1.5rem;
  }
}
#header .hamburger {
  display: grid;
  grid-template-columns: 50%;
  padding-top: 1.6rem;
  padding-bottom: 0.7rem;
  justify-content: center;
  background-color: #883038;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 767px) {
  #header .hamburger {
    width: 3rem;
    height: 3rem;
    padding-top: 1rem;
  }
}
#header .hamburger div {
  background-color: white;
  height: 3px;
  border-radius: 3rem;
  transition: all 0.3s ease;
}
#header .hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}
@media (max-width: 767px) {
  #header .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
}
#header .hamburger.active div:nth-child(2) {
  opacity: 0;
}
#header .hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}
@media (max-width: 767px) {
  #header .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

/* --- メインビジュアル --- */
#main-visual {
  height: 100vh;
  padding: 10rem 0 6rem;
  background-color: #bcbcbc;
}
@media (max-width: 767px) {
  #main-visual {
    height: auto;
    padding-bottom: 2rem;
  }
}
#main-visual img {
  height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* --- ディスクリプション --- */
#description {
  height: "85vh";
  padding: 6rem;
  background-color: #1f1f1f;
  color: white;
  font-size: 4rem;
}
@media (max-width: 767px) {
  #description {
    height: auto;
    padding: 4rem 3rem;
    font-size: 3rem;
  }
}
#description p {
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  #description p {
    margin-bottom: 3rem;
    font-size: 3rem;
  }
}
#description p > span {
  color: #ffb600;
}
#description .dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}
@media (max-width: 767px) {
  #description .dots {
    gap: 3rem;
    margin-bottom: 4rem;
  }
}
#description .dots > div {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffb600;
}
#description .dots > div:nth-of-type(1), #description .dots > div:nth-of-type(3) {
  background-color: white;
}
#description .dots > div:nth-of-type(2) {
  background-color: #ffb600;
}
#description .square {
  width: 6rem;
  height: 6rem;
  background-color: #ffb600;
  margin: 0 auto;
  transform: rotate(60deg);
}
@media (max-width: 767px) {
  #description .square {
    width: 4rem;
    height: 4rem;
  }
}

/* --- プロフィール --- */
#profile {
  height: "85vh";
  padding: 6rem;
  background-color: white;
  color: #1f1f1f;
  font-size: 4rem;
  position: relative;
}
@media (max-width: 767px) {
  #profile {
    height: auto;
    padding: 4rem 3rem;
    font-size: 3rem;
  }
}
#profile h3::before, #profile h3::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: gray;
}
#profile h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: clamp(2rem, 4.8vw, 4rem);
  width: minmax(50%, 100%);
  margin: 0 auto 4rem auto;
}
#profile h3 > span:nth-of-type(1) {
  color: #883038;
  font-size: clamp(3rem, 6.4vw, 5rem);
}
#profile h3 > span:nth-of-type(2) {
  align-self: flex-end;
}
#profile h3::before {
  margin-right: clamp(2rem, 4vw, 3rem);
}
#profile h3::after {
  margin-left: clamp(2rem, 4vw, 3rem);
}
#profile .square-1 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #1f1f1f;
  left: calc(50% - clamp(10rem, 32vw, 30rem));
  bottom: 5rem;
}
@media (max-width: 767px) {
  #profile .square-1 {
    width: 2rem;
    height: 2rem;
  }
}
#profile .square-2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #1f1f1f;
  right: calc(50% - clamp(10rem, 32vw, 30rem));
  bottom: 14rem;
}
@media (max-width: 767px) {
  #profile .square-2 {
    width: 2rem;
    height: 2rem;
  }
}
#profile .square-3 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #883038;
  right: calc(50% - clamp(5rem, 30vw, 30rem));
  bottom: 4rem;
}
@media (max-width: 767px) {
  #profile .square-3 {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 767px) {
  #profile .square-1 {
    bottom: 16rem;
  }
  #profile .square-3 {
    bottom: 2rem;
  }
}
#profile .profile {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 767px) {
  #profile .profile {
    flex-direction: column;
  }
}
#profile .profile img {
  width: 70%;
}
#profile .profile .text > p:nth-of-type(1) span:nth-of-type(1) {
  margin-right: clamp(0.5rem, 2vw, 1rem);
}
#profile .profile .text > p:nth-of-type(2) {
  font-size: 2rem;
}
#profile .profile .text > p:nth-of-type(2) span:nth-of-type(1) {
  margin-right: clamp(1rem, 2vw, 1.5em);
}
#profile .profile .text > p:nth-of-type(3) {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Kiwi Maru", serif;
  margin-bottom: 0;
}
#profile .profile .text > p:nth-of-type(3)::before {
  content: "← ";
}
@media (max-width: 767px) {
  #profile .profile .text > p:nth-of-type(3)::before {
    content: "↑ ";
  }
  #profile .profile .text > p:nth-of-type(3)::after {
    content: " ↑";
  }
}
#profile .profile .text > p:nth-of-type(4) {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Kiwi Maru", serif;
}

/* --- スキル --- */
#skill {
  height: "auto";
  padding: 6rem;
  background-color: #1f1f1f;
  color: white;
  font-size: 4rem;
  position: relative;
}
@media (max-width: 767px) {
  #skill {
    height: auto;
    padding: 4rem 3rem;
    font-size: 3rem;
  }
}
#skill h3::before, #skill h3::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: gray;
}
#skill h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: clamp(2rem, 4.8vw, 4rem);
  width: minmax(50%, 100%);
  margin: 0 auto 4rem auto;
}
#skill h3 > span:nth-of-type(1) {
  color: #ffb600;
  font-size: clamp(3rem, 6.4vw, 5rem);
}
#skill h3 > span:nth-of-type(2) {
  align-self: flex-end;
}
#skill h3::before {
  margin-right: clamp(2rem, 4vw, 3rem);
}
#skill h3::after {
  margin-left: clamp(2rem, 4vw, 3rem);
}
#skill .square-1 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: white;
  left: calc(50% - clamp(12rem, 40vw, 40rem));
  bottom: 10rem;
}
@media (max-width: 767px) {
  #skill .square-1 {
    width: 2rem;
    height: 2rem;
  }
}
#skill .square-2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: white;
  right: calc(50% - clamp(10rem, 32vw, 30rem));
  top: 14rem;
}
@media (max-width: 767px) {
  #skill .square-2 {
    width: 2rem;
    height: 2rem;
  }
}
#skill .square-3 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #ffb600;
  left: calc(50% - clamp(5rem, 20vw, 20rem));
  bottom: 3rem;
}
@media (max-width: 767px) {
  #skill .square-3 {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 767px) {
  #skill .square-1 {
    bottom: 4rem;
  }
  #skill .square-2 {
    top: 28rem;
  }
  #skill .square-3 {
    bottom: 1rem;
  }
}
#skill figcaption {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 4rem;
}
#skill figcaption > div {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
#skill figcaption > div > div > p:nth-of-type(1) {
  font-size: clamp(2rem, 4.8vw, 4rem);
}
#skill figcaption > div > div > p:nth-of-type(2) {
  font-size: clamp(1rem, 3.2vw, 3rem);
}
@media (max-width: 767px) {
  #skill figcaption {
    grid-template-columns: 45% 45%;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  #skill figcaption > div {
    grid-template-columns: 100%;
  }
}

/* --- ワーク --- */
#work {
  height: "auto";
  padding: 6rem;
  background-color: #bcbcbc;
  color: #1f1f1f;
  font-size: 4rem;
  position: relative;
}
@media (max-width: 767px) {
  #work {
    height: auto;
    padding: 4rem 3rem;
    font-size: 3rem;
  }
}
#work h3::before, #work h3::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: gray;
}
#work h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: clamp(2rem, 4.8vw, 4rem);
  width: minmax(50%, 100%);
  margin: 0 auto 4rem auto;
}
#work h3 > span:nth-of-type(1) {
  color: #883038;
  font-size: clamp(3rem, 6.4vw, 5rem);
}
#work h3 > span:nth-of-type(2) {
  align-self: flex-end;
}
#work h3::before {
  margin-right: clamp(2rem, 4vw, 3rem);
}
#work h3::after {
  margin-left: clamp(2rem, 4vw, 3rem);
}
#work .square-1 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #1f1f1f;
  right: calc(50% - clamp(12rem, 40vw, 40rem));
  bottom: 10rem;
}
@media (max-width: 767px) {
  #work .square-1 {
    width: 2rem;
    height: 2rem;
  }
}
#work .square-2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #1f1f1f;
  right: calc(50% - clamp(10rem, 32vw, 30rem));
  top: 14rem;
}
@media (max-width: 767px) {
  #work .square-2 {
    width: 2rem;
    height: 2rem;
  }
}
#work .square-3 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #883038;
  right: calc(50% - clamp(15rem, 36vw, 25rem));
  bottom: 3rem;
}
@media (max-width: 767px) {
  #work .square-3 {
    width: 2rem;
    height: 2rem;
  }
}
#work object {
  position: absolute;
  left: calc(50% - clamp(20rem, 48vw, 40rem));
  bottom: -0.5rem;
}
@media (max-width: 767px) {
  #work .square-1 {
    bottom: 3rem;
  }
  #work .square-2 {
    top: 8rem;
  }
  #work .square-3 {
    left: calc(50% - clamp(10rem, 24vw, 20rem));
    bottom: 0.5rem;
  }
  #work object {
    display: none;
  }
}
#work .portfolio {
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 767px) {
  #work .portfolio {
    width: 90%;
  }
}
#work .portfolio p {
  text-align: left;
  font-size: clamp(2rem, 4vw, 1.5rem);
  margin-top: -0.5rem;
}
#work figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 15rem;
  background-color: #1f1f1f;
  color: white;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Kiwi Maru", serif;
}
@media (max-width: 767px) {
  #work figure {
    height: 12rem;
  }
}
#work figure.collection {
  width: 50%;
}
@media (max-width: 767px) {
  #work figure.collection {
    width: 90%;
  }
}

/* --- フッター --- */
#footer {
  height: auto;
  padding: 6rem 6rem 0;
  background-color: #1f1f1f;
  color: white;
  font-size: 4rem;
}
@media (max-width: 767px) {
  #footer {
    height: auto;
    padding: 4rem 3rem 0;
    font-size: 3rem;
  }
}
#footer h3::before, #footer h3::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: gray;
}
#footer h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: clamp(2rem, 4.8vw, 4rem);
  width: minmax(50%, 100%);
  margin: 0 auto 4rem auto;
}
#footer h3 > span:nth-of-type(1) {
  color: #ffb600;
  font-size: clamp(3rem, 6.4vw, 5rem);
}
#footer h3 > span:nth-of-type(2) {
  align-self: flex-end;
}
#footer h3::before {
  margin-right: clamp(2rem, 4vw, 3rem);
}
#footer h3::after {
  margin-left: clamp(2rem, 4vw, 3rem);
}
#footer p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Kiwi Maru", serif;
  margin: 0;
}
#footer figure {
  display: inline-block;
  margin: 3rem auto;
  padding: clamp(1rem, 2.4vw, 2rem);
  background-color: white;
  color: #1f1f1f;
  font-size: clamp(1rem, 3.2vw, 3rem);
}
#footer object {
  display: flex;
  justify-content: center;
}
#footer object img {
  max-width: 50%;
}
#footer small {
  font-size: 12px;
  font-family: "Kiwi Maru", serif;
}/*# sourceMappingURL=style.css.map */